.hidden {
    display: none !important;
}

#username-popup {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#popup-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
}
